<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <img *ngIf="loading" class="pl-2"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <div class="card snhadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Datos por actualizar</h3>
        </div>
        <div class="card-body">
          <div *ngIf="!idFile">
            <div class="col-md-12">
              <form [formGroup]="fileForm" (ngSubmit)="onSubmitFile()">
                  <label>Seleccionar archivo de bases de datos de gesturas</label>
                  <div class="form-group">
                      <input class="form-control" type="file" name="profile" (change)="onSelectedFile($event)"
                        accept=".gbd" />
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary my-4" type="submit">Subir el archivo gbd</button>
                  </div>
                </form>
                <div *ngIf="errorFile" class="alert alert-danger">{{errorFile}}</div>
            </div>
            <hr class="my-4" />
          </div>
          <form role="form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
                <label>Valor del factor del movimiento</label>
                <div class="input-group input-group-alternative">
                  <input class="form-control" type="number" formControlName="movementFactor" min="0" max="1" />
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary my-4" type="submit">Actualizar factor del movimiento</button>
              </div>
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
              <div *ngIf="actualizado" class="alert alert-danger">{{actualizado}}</div>
        </form>
        </div>

      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
        <div class="card snhadow">
            <div class="card-header bg-transparent border-0">
                <div class="d-flex justify-content-between">
                  <h2 class="mb-0">{{fm.name}}</h2>
                </div>  
            </div>
            <div class="card-body">
                <h4>
                    <strong>Informacion general:</strong>
                </h4>
                    <div class="h4 font-weight-300">
                        <strong>Descripcion:</strong>  {{fm.description}}
                    </div>
                    <div class="h4 font-weight-300">
                        <strong>Punto de analisis:</strong>  {{fm.nameFocusJoin}}
                    </div>
                    <div class="h4 font-weight-300">
                        <strong>Profundidad minima de los datos tomado:</strong> {{fm.depthMin}}
                    </div>
                    <div class="h4 font-weight-300">
                        <strong>Profundidad maxima de los datos tomado:</strong> {{fm.depthMax}}
                    </div>
                    <div class="h4 font-weight-300">
                        <strong>Altura del Kinect:</strong> {{fm.height}}
                    </div>
                    <h4>
                        <strong>Angulo de analisis:</strong>
                    </h4>
                    <div class="h4 font-weight-300" *ngFor="let name of fm.namesAnglesOfMovement">
                        - {{name}}
                    </div>
                    <h3>
                        <strong>Detalle de los pasos:</strong>
                    </h3>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">Paso</th>
                              <th scope="col">Etiqueta</th>
                              <th scope="col">Rango</th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let step of fm.rangeteps; let i = index">
                                  <th scope="row">
                                    <div class="media align-items-center">
                                      <div class="media-body">
                                        <span class="mb-0 text-sm"> Paso {{i+1}}</span>
                                      </div>
                                    </div>
                                  </th>
                                  <td>
                                    {{step.avg}}
                                  </td>
                                  <td>
                                    {{step.min}} a {{step.max}}
                                  </td>
                                </tr>
                          </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
  </div>
</div>