<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Crear un movimiento funcional</h3>
          <button type="button" class="btn btn-secondary btn-lg" (click)="backIndex()">Regresar</button>
        </div>
        <div class="card-body">
          <form role="form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <label>Nombre *:</label>
              <div class="input-group input-group-alternative">
                <input class="form-control" placeholder="Nombre" type="text" formControlName="name"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Nombre del movimiento funcional requerido</div>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Descripcion *:</label>
              <div class="input-group input-group-alternative">
                <textarea class="form-control form-control-alternative" rows="3"
                  placeholder="Detalle del movimiento funcional" formControlName="description"></textarea>
                <div *ngIf="submitted && f.description.errors" class="form-text text-muted">
                  <div *ngIf="f.description.errors.required">Descripcion del movimiento funcional requerido</div>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Punto de analisis *:</label>
              <div class="input-group input-group-alternative">
                <select class="custom-select" (change)="changeJoint($event)" formControlName="focusJoin">
                  <option value="" disabled>Selecciona el punto de analisis</option>
                  <option *ngFor="let joint of jointsReferences" [ngValue]="joint.id">{{joint.name}}</option>
                </select>
                <div *ngIf="submitted && f.focusJoin.errors" class="form-text text-muted" style="color: red;">
                    <div *ngIf="f.focusJoin.errors.required">Punto de analisis del movimiento funcional requerido</div>
                  </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Numeros de pasos *:</label>
              <div class="input-group input-group-alternative">
                <input class="form-control" type="number" step="1" min="1" max="6" formControlName="steps"
                  [ngClass]="{ 'is-invalid': submitted && f.steps.errors }" />
                <div *ngIf="submitted && f.steps.errors" class="invalid-feedback">
                  <div *ngIf="f.steps.errors.required">Los pasos son requeridos</div>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Profundidad minima de los datos tomado *:</label>
              <div class="input-group input-group-alternative">
                <input class="form-control" type="number" formControlName="depthMin"
                  [ngClass]="{ 'is-invalid': submitted && f.depthMin.errors }" />
                <div *ngIf="submitted && f.depthMin.errors" class="invalid-feedback">
                  <div *ngIf="f.depthMin.errors.required">La profundidad minima es requerido</div>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Profundidad maxima de los datos tomado *:</label>
              <div class="input-group input-group-alternative">
                <input class="form-control" type="number" formControlName="depthMax"
                  [ngClass]="{ 'is-invalid': submitted && f.depthMax.errors }" />
                <div *ngIf="submitted && f.depthMax.errors" class="invalid-feedback">
                  <div *ngIf="f.depthMax.errors.required">La profundidad maxima es requerido</div>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Altura del Kinect *:</label>
              <div class="input-group input-group-alternative">
                <input class="form-control" type="number" formControlName="height"
                  [ngClass]="{ 'is-invalid': submitted && f.height.errors }" />
                <div *ngIf="submitted && f.height.errors" class="invalid-feedback">
                  <div *ngIf="f.height.errors.required">La altura es requerido</div>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Angulos de analisis *:</label>
              <div class="input-group input-group-alternative">
                <div class="form-check form-check-inline" formArrayName="anglesOfMovement"
                  *ngFor="let angle of createForm.controls.anglesOfMovement.controls; let i = index">
                  <input type="checkbox" [formControlName]="i">
                  <label > {{angleReferences[i].name}}</label>
                </div>
              </div>
              <div *ngIf="submitted && checkAngles" class="form-text text-muted" style="color: red;">
                <div *ngIf="checkAngles">Selecciona por lo menos un angulo de analisis</div>
              </div>
            </div>
            <img *ngIf="loading" class="pl-2"
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4" type="submit">Ingresar movimiento funcional</button>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>